.Tables {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
}

.leftTable {
    border-radius: 10px;
    width: 500px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #ffab1e;
    font-size: 17px;
    color: white;
}

.leftText {
    text-align: left;
    background-color: #ffffff;
    padding-inline: 30px;
    font-size: 1em;
    color: #5c7392;
    padding: 6px;

}

.leftButtons {
    display: grid;
    border: 1px solid #ffab1e;
    border-radius: 15px;
    align-items: center;
    width: 165px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bolder;
    padding: 10px;
    color: white;
    background-color: #ffab1e;
    height: 55px;
    margin-top: 15px;
    cursor: pointer;
}

.bottomButtons {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.rightTable {
    border-radius: 10px;
    width: 500px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #7dac3e;
    font-size: 17px;
    color: white;

}

.rightText {
    text-align: left;
    background-color: #ffffff;
    padding-inline: 30px;
    font-size: 1em;
    color: #5c7392;
    padding: 6px;
}

.rightButtons {
    display: grid;
    border: 1px solid #7dac3e;
    border-radius: 15px;
    align-items: center;
    width: 165px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bolder;
    padding: 10px;
    color: white;
    background-color: #7dac3e;
    height: 55px;
    margin-bottom: 10px;
    margin-top: 15px;
    cursor: pointer;

}

.greenTable {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 7px;
}

.orangeTable {
    display: inline-block;
    padding: 10px 7px 10px 0;
}

.leftTitle {
    padding: 8px;
    font-weight: bolder;
}

.rightTitle {
    padding: 8px;
    font-weight: bolder;
}

.italic {
    font-style: italic;
    color: #5c7392;
}

.leftWrapper {
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: column;
}

.rightWrapper {
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: column;
}

.tableRight-row {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #7dac3e;
}

.tableLeft-row {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ffab1e;
}

.marginLeft{
    margin-left:20px;
}


@media screen and (max-width: 900px) {
    .Tables {
        width: 100%;
        height: 100%;

    }

    .greenTable{
        width: 100%;
        display:block
    }

    .orangeTable{
        width: 100%;
    }

    .bottomButtons{
        width: 500px;
        justify-content: center;
    }
}

