/* ---- Timeline ---- */
.scroll {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 200px;
}
ol{
  min-width: 80%;
}

ol.timeline {
  position: relative;
  margin: 100px;
  height: 4px;
  background: #6d84a4;
  display: flex;
  justify-content: space-between;
}

ol.timeline:before,
ol.timeline:after {
  content: "";
  position: absolute;
  top: -8px;
  display: block;
  width: 0;
  height: 0;
}

ol.timeline:before {
  left: 0px;
}

ol.timeline:after {
  border: solid #6d84a4;
  border-width: 0 4px 4px 0;
  right: 0px;
  display: flex;
  padding: 8px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* ---- Timeline elements ---- */

li.timeline {

  position: relative;
  top: -8px;
  display: flex;
  float: left;
  width: 150px;
  font: bold 15px arial;
  line-height: 5em;
  align-items: left;
  justify-content: left;
}

li.timeline:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -45px;
  right: 0;
  display: flex;
  width: 8px;
  height: 8px;
  border-width: 5px;
  border-radius: 10px;
}

li.timeline.evento:before {
  border: 4px solid #ffab1e;
  background: #ffab1e;
}

li.timeline.contratacao:before {
  border: 4px solid #6d84a4;
  background: #6d84a4;
}

li.timeline.progresso:before {
  border: 4px solid #7eaa37;
  background: #7eaa37;
}

/* ---- Details ---- */

.details {
  display: block;
  position: absolute;
  left: -115px;
  top: -15px;
  padding: 5px;
  font: 15px arial;
  text-align: center;
  width: 100%;
}

.details:before {
  content: "";
  position: absolute;
  left: 10px;
  top: -9px;
  display: flex;
  width: 0;
  height: 0;
  border-bottom-color: #fff;
  border-top: 0;
}

/* ---- Hover effects ---- */

li.timeline:hover {
  cursor: pointer;
}

li.timeline:hover:before {
  top: 1px;
  width: 8px;
  height: 8px;
  border-width: 5px;
  border-color: #28e;
}

li.timeline:hover .details {
  display: block;
  color: #444;
}

.data {
  top: -40px;
  position: relative;

}

.italico {
  font-style: italic;
  font-size: 15px;
  color: #6d84a4;

}

.negrito {
  font-size: 1em;
  font-weight: bold;
  color: #5c7392;
}