.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}

.header img {
    width: 120px
}

@media screen and (max-width: 1500px) {
    .informacoes {
        display: none;
    }
}